@model List<BloodSugarHistoryDTO>
<header class="bg-primary py-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h2 class="display-4 text-white mt-5 mb-2">Blood's Sugar Logs</h2>
            </div>
        </div>
    </div>
</header>
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-8 mb-5">
        </div>
        <h2>Blood's Sugar History</h2>
        <hr>
        @foreach (var value in Model)
        {
            <div class="col-md-4 mb-5">
                <address>
                    <strong> @if (value.DateToday.ToString() != "1/1/0001 12:00:00 AM") {<spa>@value.DateToday</spa> } </strong>
                    <br>Food you eat  @value.FoodName
                    <br>Blood sugar after you eat @value.Value 
                    <br> @if(value.Value > 120) { <spa> Blood Sugar is High</spa> }
                </address>
            </div>
        }
    </div>
</div>